services:
  db:
    image: postgres:16
    container_name: db
    environment:
      PG_PORT: 5432
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5445:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
